# directories
/debug/
/release/
/android/gen
/android/bin
/android/obj
/android/libs

# intel vtune files
/*amplifier*

# log file
log.txt

# vc intermediate
*.sln
*.sdf
*.opensdf
*.suo
*.log

# obj files
*.dll
*.exe
*.obj
*.class
*.o
*.o.d
*.so

# packages
*.apk
*.jar

